DJANGO_SECRET_KEY=REEMPLAZA_ESTA_CLAVE_POR_UNA_LARGA_Y_ALEATORIA
DJANGO_DEBUG=False
DJANGO_ENABLE_HTTPS_SECURITY=True
DJANGO_ALLOWED_HOSTS=sitme.microbiolog-ia.com,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://sitme.microbiolog-ia.com
DJANGO_TIME_ZONE=America/Lima
